.thumbup {
  color:yellowgreen
}

.thumbdown {
  color:tomato
}

.neutral {
  color:lightgray;
}

.md-copyright__highlight {
  color: #7f7f7f
}

.img-fluid {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 50rem;
}

.doku {
  margin-right: 28;
}

.md-header__source {
  margin-left: 1.5rem;
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  max-width: 25rem;
}

.md-source__repository {
  display:inline-block;
  max-width:fit-content;
  overflow:hidden;
  text-overflow:ellipsis;
  vertical-align:middle
}

.doku-icon {
  align-content: center;
  scale: 0.9;
}